a.myButton {
	background: #ffffff;
	padding: 5px 10px 5px 10px;
	color: #000;
	margin: 10px 0px 10px 0px;
	color: #6e3f1c;
	border: 2px #6e3f1c solid; 
	font-style: normal;
	font-weight: bold;
	border-radius: 4px;
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	text-decoration: none;
}
a.myButton:hover {
	opacity: 0.8;
}

.yamap {
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	padding: 4px;
	background: #ffffff;
	box-shadow:
	0 1px 4px rgba(0, 0, 0, .3),
	-23px 0 20px -23px rgba(0, 0, 0, .8),
	23px 0 20px -23px rgba(0, 0, 0, .8),
	0 0 40px rgba(0, 0, 0, .1) inset;
}

.uslugi {
	width: 280px;
	display: inline;
	float: left;
	margin-left: 17px;
}

.uslugi div {
	width: 280px;
	display: inline;
	float: left;
	margin-bottom: 25px;
}

.uslugi div  img {
	width: 280px;
	height: 170px;
	box-shadow:
	0 1px 4px rgba(0, 0, 0, .3),
	-23px 0 20px -23px rgba(0, 0, 0, .8),
	23px 0 20px -23px rgba(0, 0, 0, .8),
	0 0 40px rgba(0, 0, 0, .1) inset;	
}

.uslugi div strong {
	height: 25px;
	background: #000;
	opacity: 0.8;
	position: relative;
	top: -30px;
	margin-bottom: -30px;
	padding: 2px 9px 2px 9px;
	color: #cdcdcb;
	font-size: 20px;
	font-family: 'Comfortaa', cursive;
	font-style: normal;
}